{% extends 'layout.html' %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <div style="max-width: 600px; margin: auto;" class="d-flex center justify-content-center align-items-center"></div>
            <h2>Our Purpose</h2>
            <p class="lead">Are you a computer science student, and you enjoy looking for haystacks needles? Think of becoming a member of La Voix. This is a community-based blog that focuses on issues that fall under computer science. The forum brings together all kinds of programmers and tech enthusiasts. Both experienced and newbies are allowed to contribute their content to the site.</p>
        </div>
    </div>
</main>
{% endblock content %}